<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="container d-flex">
      <%- include("./partials/menu") %>
      <div class="d-flex flex-column ml-4 mr-4">
        <header class="profile-header">
          <img src="" alt="profile-pic" class="profile-pic" />
        </header>
        <button class="follow-button">Follow</button>
        <h3><%= user.firstname %> <%= user.lastname %></h3>

        <div class="d-flex justify-content-between">
          <p>@<%= user.username %></p>
          <span>
            <div class="d-flex">
              <small><%= user.followers.length %></small>
              <a href="/profile/<%= user.id %>/followers">Followers</a>
            </div>
            <div class="d-flex">
              <small> <%= user.following.length %> </small>
              <a href="/profile/<%= user.id %>/following">Following</a>
            </div>
          </span>
        </div>
        <h5>Tweets</h5>
        <% for(tweet of user.tweets) {%>
        <div class="tweet-container p-4">
          <div class="d-flex">
            <img src="" alt="pic" />
            <div class="ml-3 mr-1">
              <div class="d-flex justify-content-start">
                <h6><%= user.firstname %> <%= user.lastname%></h6>
                <p>@<%= user.username %></p>
              </div>
              <p><%= tweet.content %></p>
            </div>
          </div>
          <p><%= tweet.likes.length %></p>
        </div>
        <% } %>
      </div>
      <%- include("./partials/info") %>
    </div>
  </body>
</html>
