<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="container d-flex">
      <%- include("./partials/menu") %>
      <div class="d-flex flex-column profile-container">
        <header class="profile-header">
          <img src="" alt="profile-pic" class="profile-pic" />
        </header>
        <div class="d-flex justify-content-end">
          <% if (profileUser.id !== user.id) { %> <% if
          (!profileUser.followers.includes(user._id)) {%>
          <form
            action="/<% profileUser.id %>/follow?_method=PATCH"
            method="post"
          >
            <button type="submit" class="btn follow-button w-5">Follow</button>
          </form>
          <% } if (profileUser.followers.include(user_id)) {%>
          <form
            action="/<% profileUser.id %>/following?_method=PATCH"
            method="post"
          >
            <button type="submit" class="btn follow-button w-5">
              Unfollow
            </button>
          </form>
          <% } %> <% } %>
        </div>
        <h3><%= profileUser.firstname %> <%= profileUser.lastname %></h3>

        <div class="d-flex justify-content-between">
          <p>@<%= profileUser.username %></p>
          <p>
            <a href="/profile/<%= profileUser.username%>/following">
              <%= profileUser.following.length %> Following
            </a>
            <a href="/profile/<%= profileUser.username %>/followers">
              <%=profileUser.followers.length %> Followers
            </a>
          </p>
        </div>
        <h5>Tweets</h5>
        <% for(tweet of profileUser.tweets) {%>
        <div class="tweet-container p-4">
          <div class="d-flex">
            <img src="" alt="pic" />
            <div class="tweet-inner-container">
              <div class="d-flex justify-content-start">
                <h6><%= profileUser.firstname %> <%= profileUser.lastname%></h6>
                <p class="ml-5">@<%= profileUser.username %></p>
              </div>
              <p><%= tweet.content %></p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <p><%= tweet.likes.length %></p>
              <% if (!tweet.likes.includes(user._id)) {%>
              <form action="/<%= tweet._id %>/like?_method=PATCH" method="post">
                <button type="submit">
                  <img src="/img/like.svg" alt="" />
                </button>
              </form>
              <% } %> <% if(tweet.likes.includes(user._id)) {%>
              <form
                action="/<%= tweet._id %>/removeLike?_method=PATCH"
                method="post"
              >
                <button type="submit">
                  <img src="/img/like-active.svg" alt="" />
                </button>
              </form>
              <% } %>
            </div>
            <% if (profileUser.id === user.id) { %>

            <form
              action="/profile/<%= tweet._id %>/delete?_method=DELETE"
              method="post"
            >
              <button type="submit">
                <img src="/img/delete.svg" alt="" />
              </button>
            </form>
          </div>
          <% } %>
        </div>
        <% } %>
      </div>
      <%- include("./partials/info") %>
    </div>
  </body>
</html>
