<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container d-flex">
      <div class="row">
        <%- include("./partials/menu") %>
        <div class="col-9 col-md-6">
          <h2 class="home-title mb-3 mt-1">Home</h2>
          <div class="form-floating d-flex">
            <img
              src="/img/<%= user.avatar %>"
              class="profile-picture"
              alt="profile-picture"
            />
            <form action="/" method="POST" class="w-100">
              <textarea
                name="content"
                class="form-control textarea"
                placeholder="Whats happening?"
                id="floatingTextarea2"
                style="height: 100px"
              ></textarea>

              <div class="d-flex justify-content-end">
                <button class="tweet-button">Tweet</button>
              </div>
            </form>
          </div>
          <div>
            <% for(tweet of followingTweets) {%>
            <div class="tweet-container p-4">
              <div class="d-flex">
                <img
                  src="/img/<%= tweet.author.avatar %>"
                  class="profile-picture"
                  alt="profile-picture"
                />
                <div class="ml-3 mr-1">
                  <div class="d-flex justify-content-start">
                    <h6>
                      <%= tweet.author.firstname %> <%= tweet.author.lastname%>
                    </h6>
                    <p>@<%= tweet.author.username %></p>
                  </div>
                  <p><%= tweet.content %></p>
                </div>
              </div>
              <div class="d-flex justify-content-start">
                <% if (!tweet.likes.includes(user._id)) {%> // Si el usuario
                loggeado (user._id), NO se encuentra en el array de likes del
                tweet, mostrale el boton con la imagen de la linea 69
                <form
                  action="/<%= tweet._id %>/like?_method=PATCH"
                  method="post"
                >
                  <button type="submit" class="action-button">
                    <img src="/img/like.svg" alt="" />
                  </button>
                </form>
                <% } %> <%if (tweet.likes.includes(user._id)) {%> // Si el
                usuario loggeado (user._id), se encuentra en el array de likes
                del tweet, mostrale el boton con la imagen de la linea 80
                <form
                  action="/<%= tweet._id %>/removeLike?_method=PATCH"
                  method="post"
                >
                  <button type="submit" class="action-button">
                    <img src="/img/like-active.svg" alt="" />
                  </button>
                </form>
                <% } %>
                <p><%= tweet.likes.length %></p>
             ../
            <% } %>
          </div>
        </div>
        <%- include("./partials/info") %>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
